<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
　　　　 <title>{{ page.title }}</title>
　　</head>
　　<body>
        <div id="content" style="margin: 0 auto; width: 70%; font-family: Crimson Text, Minion Pro, Georgia, Times; font-size: 1.2em;">
            <h1>{{ page.title }}<h1>
    　　　　{{ content }}
        </div>
　　</body>
    <footer style="margin-bottom: 125px;">
    </footer>
</html>
